{% extends "_templates/base.twig" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h2>Design pattern</h2>
        </div>
    </div>

    <h1>Hello there!</h1>
    <ul>
        <li><a href="/index.php/factory">Factory (abstract)</a></li>
        <li><a href="/index.php/factory/method">Factory Method</a></li>
        <li><a href="/index.php/registry">Registry</a></li>
        <li><a href="/index.php/visitor">Visitor</a></li>
        <li><a href="/index.php/template">Template</a></li>
        <li><a href="/index.php/state">State</a></li>
        <li><a href="/index.php/observer">Observer</a></li>
        <li><a href="/index.php/mediator">Mediator</a></li>
        <li><a href="/index.php/iterator">Iterator</a></li>
        <li><a href="/index.php/interpreter">Interpreter</a></li>
        <li><a href="/index.php/responsibility">Chain of Responsibility</a></li>
        <li><a href="/index.php/proxyh">Proxy</a></li>
        <li><a href="/index.php/flyweight">Flyweight</a></li>
        <li><a href="/index.php/facade">Facade</a></li>
        <li><a href="/index.php/decorator">Decorator</a></li>
        <li><a href="/index.php/composite">Composite</a></li>
        <li><a href="/index.php/bridge">Bridge</a></li>
        <li><a href="/index.php/adapter">Adapter</a></li>
        <li><a href="/index.php/Singletons">Singleton</a></li>
        <li><a href="/index.php/builder">Builder</a></li>
    </ul>
{% endblock %}