{% extends "_templates/base.twig" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h2>Design pattern: Factory</h2>
        </div>
    </div>


{% endblock %}